body {
	background-color: black;
	color: white;
	font-family: 'Sen', Arial, Helvetica, sans-serif;
}

.count {
	font-size: 2em;
	color: rgb(159, 43, 43);
}

main {
	max-width: 700px;
	margin: auto;
}

hr {
	border: 1px solid rgb(111, 111, 111);
}